a.collect_link,
a.collect_step_link{
    color: #4488ff;
    font-size: 0.83em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

a.collect_link:hover {
    text-decoration: underline;
}

a.collect_step_link:hover {
    text-decoration: underline;
}

input.collect_info {
    width: 400; 
}
